@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    background-color: #232946;
    color: #b8c1ec;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #121629;
    margin: 10px;
    border-radius: 5px;
}

  h1 {
      text-align: center;
}
input[type=text]{
    border-radius: 10px;
    border:none;
    margin-left:10px;
    width: 77%;
}
button{
    background-color: #eebbc3;
    color:#121629;  
    border: none;
    border-radius: 10px;
    margin-left:10px;
}

